@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');
.top_bar{
    background: #FFE391;
    width: 100%;
    /*height: 7vh;*/
    display:flex;
    justify-content:space-between;
    position:relative;
    z-index:999;
    overflow-y: hidden;
}
#open_nav{
    width:15%;
}
#open_nav:hover{
    border-radius: 30px;
}
#open_nav:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0,0,0,0.24);
}
.left_control{
    width:33%;
    display:flex;
    align-items: center;
}
#date_header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
.center_control{
    align-self: center;
    width:33%;
}
.right_control{
    width:33%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:2em;
}
#user_menu{
    width:15%;
}
#user_menu:hover{
    border-radius: 30px;
}
#user_menu:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0,0,0,0.24);
}
#prof_pic{
    display:inline-block;
    border-radius:50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 213px;
    height: 213px;
}
#account_photo{
    display:flex;
    flex-direction:column;
}
.open_nav{
    display:none;
}
.open_nav_hidden{
    display:none;
}
#autocompleteSearch{
    border-radius:30px;
}
@media only screen and (max-device-width: 800px) {
    #date_header{
        display: none;
    }
    .center_control{
       display: none;
    }
    .open_nav{
        display: flex;
    }
    .open_nav_hidden{
        display:none;
    }
}