.task{
    background: #fff5ff;
    border-radius: 30px;
    width:60%;
    /*display:flex;*/
    flex-direction: column;
    margin-bottom: 1em;
}
.task_header{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}
.task_body{
    padding-left: 2em;
    position:relative;
    top:100%;
    left:0;
    width:100%;
    overflow:hidden;
}
.task_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
}
.task_body_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #000000;
}
.icon_button{
    transition: transform 0.3s ease-out;
}

.icon_button_rotated{
    transform: rotate(180deg);
}
#undoButton{
    margin-left:20px;
    color:black;
}
#undoButton:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
@media only screen and (max-device-width: 800px) {
    .task{
        width:100%;
    }
    .task_text{
        font-size: 15px;
        line-height: 20px;
    }
    .task_header{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    .task_body_text{
        font-size: 13px;
    }

}
